*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: black;
    line-height: 20px;
}
.container{
    width: 80%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #000;
}
.selection_header{
    background-color: black;
}
.header{
    color: #fff;
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: flex-end;
    font-size: 16px;
}
.header p a{
    color: #fff;
    font-weight: 600;
    margin-left: 7px;
}
.language{
    display: flex;
    align-items: center;
    margin-left: 20%;
}
.icon-language{
    font-size: 18px;
}
.selection_menu{
    height: 80px;
    padding: 15px 0px;
    border-bottom: 1px solid #ADADAD;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu h1{
    font-size: 30px;
}
.nav-menu li{
    display: inline-block;
    padding: 0px 10px;
    list-style-type: none;
}
.nav-menu li a{
    text-decoration: none;
    color: black;
}
.nav-menu li a:hover{
    text-decoration: underline;
}
.box-user{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.search{
    display: flex;
    align-items: center;
    width: 100%;
   justify-content: space-between;
   background-color: #f5f5f5;
   padding: 10px;
}

.search input{
    width: 80%;
    background-color: transparent;
    border: none;
    outline: none;
}
.box-user ion-icon{
    font-size: 35px;
    margin: 0px 5px;
}
.search ion-icon{
    font-size: 20px;
}
.user{
    border-radius: 100%;
    background-color: #DC4345;
    padding: 10px;
    width: 40px;
    height: 25px;
    text-align: center;
    color: #fff;
}
.accoun__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.link_about{
    font-size: 20px;
    color: #ADADAD;
}
.link_about span{
    color: #000;
}
.welcome span{
    font-weight: 400;
    color: #DC4345;
}
.link_about span{
    font-weight: 600;
}
.main_account{
    display:  grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
}
.left_main h4{
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 600;
}
.sub_menu{
    margin-left: 20px;
    margin-bottom: 18px;
}
.sub_menu li{
    list-style-type: none;
    padding-bottom: 12px;
    font-size: 17px;
}
.sub_menu li a{
    color: #ADADAD;
}
.first_selection a, .sub_menu li a:hover{
    color: #DC4345 !important;
}
.right_main{
    box-shadow: 0 0 5px #ADADAD;
    padding: 40px 50px;
    margin-bottom: 30px ;
}
.right_main h4{
    font-size: 30px;
    font-weight: 500;
    color: #DC4345;
    margin-bottom: 25px;
}
.box_profile{
    display: grid;
    grid-template-columns: 50% 50%;
    gap:30px;
    margin-bottom: 25px;
}
.box_profile_name{
    padding-right: 30px;
}
.box_profile_name h5{
    margin-bottom: 12px;
    font-size: 18px;
}
.box_profile_name input{
    background: #adadad39;
    border: none;
    width: 90%;
    height: 45px;
    font-size: 16px;
    padding-left: 15px;
}
.box_profile_password input{
    width: 100%;
    margin-bottom: 18px;
}
.save{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-right: 30px;
}
.save_change{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
.save_change span{
    width: 50%;
    background-color: #DC4345;
    color: white;
    /* justify-content: center; */
    line-height: 50px;
    text-align: center;
    border-radius: 7px;
}
.footer{
    background-color: #000;
    color: white;  
    margin-top: 30px;
}
.content_footer{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
}
.box_footer{
    margin: 40px;
    margin-bottom: 20px;
    padding: 10px 0px;
    margin-left: 0px;
}
.box_footer h4{
    font-size: 30px;
   margin: 20px 0px;
    font-weight:600;
}
.box_footer h5{
    font-size: 22px;
    font-weight: 500;
    margin: 20px 0px;
}
.box_footer h6{
    font-size: 12px;
    font-weight: 400;
    color: #B9B9B9;
    margin: 20px 0px;
}
.box_footer  p{
    font-size: 14px;
    margin-right:0px;
    line-height: 30px !important;
    margin-bottom: 15px;   
}
.box_email_footer{
    background-color: #000;
    width: 120%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.send{
    display: flex;
    align-items: center;
    width: 80%;
   justify-content: space-between;
   background-color: black;
   padding: 10px;
   border: 2px solid white;
   border-radius: 5px;
}
.send input{
    width: 80%;
    background-color: transparent;
    color: #6B6B6B;
    border: none;
    outline: none;
}
.download{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px
}
.social{
    display: flex;
    margin-top: 15px;
    justify-content: start;
    list-style-type: none;
}
.social i{
    font-size: 20px;
    padding-right: 28px;
}
.copy{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #404040;
    padding: 40px 0px;
}
.underline{
    border: 1px solid #292727;
}